.wrap {
    width: 800px;
    border: 1px solid #000;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container div {
    margin-bottom: 30px;
}
.title { margin-top: 30px; }
table.index_table {
    width: 600px;
    height: 300px;
    text-align: center;
    border-collapse: collapse;
}
th { border-bottom: 1px solid #999; }
.year { font-weight: bold; }


.cards {
    width: 95%;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 225px;
    margin: 0 0 30px 30px;;
    border: 1px solid #999;
    display: flex;
    flex-direction: row;

}
.card div { border: 1px solid red;}
div.info {
    width: 130px;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.info p { margin: 0;}
.back_number { font-size: 23px; font-weight: bold; letter-spacing: 3px;}
.name { font-size: 19px; letter-spacing: 3px;}
div.photo {
    width: 170px;
    height: 225px;
}